body {
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: gray
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: gray
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(170, 96,83);
  font-weight: bold;
  font-size: 52px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
